<%- include("partials/header") %>
<section id="menu">
  <!-- edit shop name/image modal -->
  <div
    class="modal fade"
    id="form"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5
            class="modal-title font-weight-bold text-center"
            id="exampleModalLabel"
          >
            Edit shop details.
          </h5>

          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <hr />
        <form>
          <div class="modal-body">
            <div class="form-group">
              <label class="font-weight-bold" for="Name">New name:</label>
              <input
                type="text"
                class="form-control"
                id="Name"
                placeholder="New name for your shop."
              />
            </div>
            <div class="form-group">
              <label class="font-weight-bold" for="imageURL">Image URL:</label>
              <input
                type="text"
                class="form-control"
                id="imageURL"
                placeholder="http://..."
              />
            </div>
          </div>
          <hr />
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button type="submit" class="btn orange">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end of edit shopName modal  -->

  <!-- edit menu modal -->
  <div
    class="modal fade"
    id="form-2"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5
            class="modal-title font-weight-bold text-center"
            id="exampleModalLabel"
          >
            Edit Menu.
          </h5>

          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <hr />
        <form method="POST" action="/shops/<>/menus/<>?_PUT">
          <div class="modal-body">
            <div class="form-group">
              <label class="font-weight-bold" for="Name">Item name:</label>
              <input
                type="text"
                class="form-control"
                id="Name"
                placeholder="Name of the item."
              />
            </div>
            <div class="form-group">
              <label class="font-weight-bold" for="imageURL">Image URL:</label>
              <input
                type="text"
                class="form-control"
                id="imageURL"
                placeholder="http://..."
              />
            </div>
            <div class="form-group">
              <label class="font-weight-bold" for="price">Price:</label>
              <input
                type="text"
                class="form-control"
                id="price"
                placeholder="₹XXX"
              />
            </div>
            <div class="form-group">
              <div class="checkbox checkbox-success">
                <input id="checkbox" type="checkbox" />
                <label for="checkbox"> Available </label>
              </div>
            </div>
          </div>
          <hr />
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button type="submit" class="btn orange">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end of  edit menu modal -->

  <!-- add item modal -->
  <div
    class="modal fade"
    id="form-3"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5
            class="modal-title font-weight-bold text-center"
            id="exampleModalLabel"
          >
            Add item.
          </h5>

          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <hr />
        <form method="POST" action="/shops/<%= currentUser ? currentUser._id : '' %>/menus">
          <div class="modal-body">
            <div class="form-group">
              <label class="font-weight-bold" for="Name">Item name:</label>
              <input
                type="text"
                class="form-control"
                id="Name"
                name="item"
                placeholder="Name of the item."
              />
            </div>
            <div class="form-group">
              <label class="font-weight-bold" for="imageURL">Image URL:</label>
              <input
                type="text"
                class="form-control"
                id="imageURL"
                name="imageUrl"
                placeholder="http://..."
              />
            </div>
            <div class="form-group">
              <label class="font-weight-bold" for="price">Price:</label>
              <input
                type="number"
                class="form-control"
                id="price"
                name="price"
                placeholder="₹XXX"
              />
            </div>
          </div>
          <hr />
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button type="submit" class="btn orange">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end of  add item modal -->

  <!-- shops with menus  -->

  <!-- shop 1  -->
  <% shops.forEach(shop => { %>
    <div class="owl-slider container mt-2" id="shop-1">
      <div class="heading">
        <img
          src="<%= shop.profileImageUrl %>"
          alt="logo"
          class="profileShop img-fluid"
        />
        <h3 class="text-left">
          <%= shop.username %>
          <a class="bg-dark" href="/shops/<%= shop._id %>/edit">
            <% if(currentUser){ %>
              <i
            class="fas fa-user-edit <%= currentUser._id.equals(shop._id) ? '' : 'invisible' %>"
            title="Edit your Shop"
          ></i>
             <% }else{ %>
              <i
            class="fas fa-user-edit"
            title="Edit your Shop"
          ></i>
            <% } %>
          </a>
        </h3>
      </div>
  
      <!--<i class="fas fa-edit    "></i>shop name  -->
      <% if(currentUser){ %>
        <div class="text-right edit <%= currentUser._id.equals(shop._id) ? '' : 'invisible' %>">
       <% }else{ %>
        <div class="text-right edit invisible">
      <% } %>
        <i
          class="fas fa-plus-square pb-3 px-2"
          title="Add Item."
          data-toggle="modal"
          data-target="#form-3"
        ></i
        >
      </div>
  
      <div id="carousel" class="owl-carousel">
        <!-- item  -->
        <% shop.menu.forEach(menu => { %>
          <div class="item">
            <img class="owl-lazy" data-src="<%= menu.imageUrl %>" alt="" />
    
            <div class="overlay"></div>
            <div class="button">
              <% if(currentUser && currentUser._id.equals(shop._id)){ %>
                <a href="/shops/<%= shop._id %>/menus/<%= menu._id %>/edit" ><i
                  class="fas fa-edit"
                ></i></a>
              <% } %>
              <% if(currentUser && currentUser._id.equals(shop._id)){ %>
                <form method="POST" class="d-inline" action="/shops/<%= shop._id %>/menus/<%= menu._id %>?_method=DELETE">
                  <button class="btn" type="submit">
                    <i class="fas fa-trash px-2" aria-hidden="true"></i>
                  </button>
                </form>
              <% } %>
            </div>
            <div class="details">
              <span class="name"><%= menu.item %></span><br />
              <span class="price">₹<%= menu.price %></span><br />
              <div class="buyNow">
                <button class="btn addToOrders">
                  <a href="/shops/<%= shop._id %>/menus/<%= menu._id %>/confirm">
                    <i class="fas fa-shopping-bag" aria-hidden="true"></i>
                  </a>
                </button>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
      <hr />
    </div>
  <% }) %>
  <!-- end of shop 1  -->

  
</section>

<%- include("partials/footer") %>