<%- include("partials/header") %>
<section id="orders">
  <div class="container my-5">
    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-orange">
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Order Id</th>
              <th scope="col">Item Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Cost</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
		<% orders.reverse()%>
            <% orders.forEach((order, index) => { %>
                <tr>
                    <th scope="row"><%= index+1 %></th>
                    <td><%= order._id %></td>
                    <td><%= order.item.item %></td>
                    <td>1</td>
                    <td><%= order.Total %>.00</td>
                    <td>
                      <form method="POST" action="/shops/<%= currentUser._id %>/orders/<%= order._id %>?_method=PUT">
                        <button name="status" value=<%= order.status ? false : true %> class="btn <%= order.status ? 'btn-success' : 'btn-danger' %> confirmOrder">
                          <%= order.status ? "Paid" : "Pending" %>
      
                          <i class="fa <%= order.status ? 'fa-check-circle-o' : 'fa-times-circle-o' %>" aria-hidden="true"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<%- include("partials/footer") %>