<%- include("partials/header") %> <% if(!currentUser){ %>
<script>
  setTimeout(function () {
    $("#discountModal").modal("show");
  }, 3000);
</script>
<% } %>

<section id="shops">
  <!-- discount modal  -->

  <div
    class="modal fade"
    id="discountModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="icon">
            <i class="fas fa-gift"></i>
          </div>
          <div class="notice">
            <h5>Get 10% Discount</h5>
            <p>For the next 24 hours you can get any product at half-price.</p>

            <p>
              Use promo code
              <span class="badge badge-info" id="couponCode">FLAVOURZ101</span>
              at final confirmation.
            </p>
          </div>
          <div class="code"></div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Nevermind
          </button>
          <button type="button" class="btn orange" id="copyButton">
            Copy code <i class="far fa-copy"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- sign-in sign-up -->
  <div
    class="authenticate text-right py-3 <%= currentUser ? 'invisible' : '' %>"
  >
    <button class="btn orange auth" href="#signup">
      Sign In/Register <i class="fas fa-user-plus"></i>
    </button>
  </div>
  <!-- end of sign-in sign-up -->

  <!-- authenticate modal  -->
  <div
    class="modal fade bs-modal-sm"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="mySmallModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <br />
        <div class="bs-example bs-example-tabs">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active px-3">
              <a href="#signin" id="signInAuth" data-toggle="tab">Sign In</a>
            </li>
            <li class="pr-3">
              <a href="#signup" data-toggle="tab">Register</a>
            </li>
            <li class="pr-3"><a href="#why" data-toggle="tab">Why?</a></li>
          </ul>
        </div>
        <div class="modal-body">
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in" id="why">
              <p>
                We need this information so that you can receive access to the
                site and its content. Rest assured your information will not be
                sold, traded, or given to anyone.
              </p>
              <p>
                <br />
                Please contact
                <a class="mail" mailto:href="support@flavourz101.com"
                  >support@flavourz101.com</a
                >
                for any other inquiries.
              </p>
            </div>
            <div class="tab-pane fade active in" id="signin">
              <form method="POST" action="/login" class="form-horizontal">
                <fieldset>
                  <!-- Sign In Form -->
                  <!-- Text input-->
                  <div class="control-group">
                    <label class="control-label" for="userid">Name:</label>
                    <div class="controls">
                      <input
                        required=""
                        id="userid"
                        name="username"
                        type="text"
                        class="form-control"
                        placeholder="Shop Name"
                        class="input-medium"
                        required=""
                      />
                    </div>
                  </div>

                  <!-- Password input-->
                  <div class="control-group">
                    <label class="control-label" for="passwordinput"
                      >Password:</label
                    >
                    <div class="controls">
                      <input
                        required=""
                        id="passwordinput"
                        name="password"
                        class="form-control"
                        type="password"
                        placeholder="********"
                        class="input-medium"
                      />
                    </div>
                  </div>

                  <!-- sign in button  -->
                  <div class="control-group">
                    <label class="control-label" for="signin"></label>
                    <div class="controls text-center">
                      <button type="submit" id="signin" class="btn orange">
                        Sign In
                      </button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <!-- Sign Up Form -->
            <div class="tab-pane fade" id="signup">
              <form method="POST" action="/register" class="form-horizontal">
                <fieldset>
                  <!-- Text input-->
                  <div class="control-group">
                    <label class="control-label" for="Name">Name:</label>
                    <div class="controls">
                      <input
                        id="Name"
                        name="username"
                        class="form-control"
                        type="text"
                        placeholder="Shop's Name"
                        class="input-large"
                        required
                      />
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="control-group">
                    <label class="control-label" for="userid"
                      >Shop Image URL:</label
                    >
                    <div class="controls">
                      <input
                        id="userid"
                        name="profileImageUrl"
                        class="form-control"
                        type="text"
                        placeholder="http://..."
                        class="input-large"
                        required
                      />
                    </div>
                  </div>

                  <!-- Password input-->
                  <div class="control-group">
                    <label class="control-label" for="password"
                      >Password:</label
                    >
                    <div class="controls">
                      <input
                        id="password"
                        name="password"
                        class="form-control"
                        type="password"
                        placeholder="********"
                        class="input-large"
                        required=""
                      />
                    </div>
                  </div>

                  <!-- Sign up Button -->
                  <div class="control-group">
                    <label class="control-label" for="confirmsignup"></label>
                    <div class="controls text-center">
                      <button
                        type="submit"
                        id="confirmsignup"
                        class="btn orange"
                      >
                        Sign Up
                      </button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <center>
            <button
              type="button"
              class="btn cancel"
              data-dismiss="modal"
              style="background-color: rgb(255, 73, 41); color: white"
            >
              Close
            </button>
          </center>
        </div>
      </div>
    </div>
  </div>
  <!-- end of authenticate modal  -->
  <% if(currentUser){ %>
  <div class="container welcomeUser">
    <hr />
    <p class="text-center heading">Welcome <%= currentUser.username %>!</p>
    <hr />
    <hr />
  </div>
  <% } %>
  <!-- shops section  -->
  <div class="layout">
    <h3 class="heading text-center" id="fshops">Featured Shops</h3>
    <section class="inner">
      <ul class="grid">
        <!-- shop 1  -->
        <% shops.forEach(shop => { %>
        <li class="grid-tile" onclick="window.location.href='/menu'">
          <div class="item">
            <div
              class="item-img"
              style="
                background-image: url('<%= shop.profileImageUrl %>');
                background-size: 100%;
                background-position: center;
              "
            ></div>
            <div class="item-pnl">
              <div class="pnl-wrapper">
                <div class="pnl-description">
                  <span class="pnl-label"><%= shop.username %></span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <% }) %>
      </ul>
    </section>
  </div>
  <div class="container text-center">
    <button class="btn orange" onclick="window.location.href='/menu'">
      View All <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </button>
  </div>
  <!-- end of shops section  -->
  <div class="container">
    <hr />
  </div>

  <!-- featured food  section-->
  <div class="owl-slider container">
    <h3 class="heading text-center" id="ffood">Featured Food</h3>
    <div id="carousel" class="owl-carousel">
      <% menus.forEach(menu => { %>
      <div class="item">
        <img class="owl-lazy" data-src="<%= menu.imageUrl %>" alt="" />
        <div class="details">
          <span class="name"><%= menu.item %></span><br />
          <a class="shopName"><%= menu.shop.username %></a><br />
          <span class="price">₹<%= menu.price %></span><br />
          <div class="buyNow">
            <button class="btn">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <!-- end of featured food  section-->
</section>
<%- include("partials/footer") %>
